* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A8B95;
    border-radius: 0 0 10px 10px ;
    color: #FF3E9B;
    padding: 0 20px;
    border: 1px solid #000;
    box-shadow: 5px 8px 10px  #3A8B95;
}

.logo img {
    height: 50px;
    width: 100px;
}

.nav-list {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

#bars, #x {
    display: none;
}

.nav-list ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}

.nav-list ul li a {
    text-decoration: none;
    color: #FF3E9B;
    padding: 25px;
}

.nav-list ul li a:hover {
    color: #FF88BA;
    background-color: #66D0BC;
}

.menu-list {
    position: relative;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items:center;
}

.menu-dropdown {
    position: absolute;
    top: 70px;
    right: -20px;
    width: 120px;
    height: 190px;
    z-index: 5;
    background-color: #3A8B95;
    background-color:rgba(58, 139, 149, 0.7) ;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: none;
}

.menu-dropdown a {
    text-decoration: none;
    color: #FF3E9B;
}

.menu-dropdown ul {
    list-style: none;
}

.cover-img {
    background-image: url("https://plus.unsplash.com/premium_photo-1676475965096-701cb7f4c7e8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
}

.cover-text {
    background-color: #3A8B95;
    background-color:rgba(58, 139, 149, 0.7) ;
    width: 600px;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 30%;
    border-radius: 20px;
    color: #FF3E9B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 15px;
    font-size: 2rem;
}

.head-line {
    background: #3A8B95;
    padding: 20px 70px;
    border-bottom: 1px solid #66D0BC;
}

.head-line h1 {
    color:#FF3E9B;
}

.rose {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background: #3A8B95;
}

.rose a {
    text-decoration: none;
    color: #FF3E9B;
}

.rose .flower-card:hover  {
    transform: scale(1.05);
    transition: 0.2s;
}

.flower-card {
    width: 250px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 0px 10px  #66D0BC;
}

.card-image {
    width: 100%;
    height: 50%;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-detail {
    padding: 10px;
}

footer {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
    background: #3A8B95;
}

@media (max-width: 700px) {
    #bars, #x {
        display: none;
    }
}

@media  (max-width: 520px) {

    .nav-list {
        justify-content: end;
    }

    .nav-list ul{
        display: none;
    }

    #bars {
        display: block;
    }

    .rose{
        flex-direction:column;
        align-items: center;
    }

    .flower-card {
        margin: 10px;
    }

    .cover-text{
        width:90%;
        left:5%;
    }

    .cover-text h2 {
        font-size: 32px;
    }

    .cover-text p {
        font-size: 18px;
    }

    footer p{
        font-size: 12px;
    }
}